.link {
  width: auto;
  height: 10px;
  margin: 10px;
  border-radius: 5px;
  background-color: green;
  position: relative;
}
.left {
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right:10px solid green;
  background-color: transparent;
  position: absolute;
  left: -5px;
  top: -5px;
}
.right {
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 10px solid green;
  background-color: transparent;
  position: absolute;
  right: -5px;
  top: -5px;
}
